
.loader-mini {
  display: block;
  position: relative;
  width: auto;
  display: grid;
  place-items: center;
}

.loader-mini::before,
.loader-mini::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
}

.loader-mini::before {
  width: 16px;
  height: 16px;
  border: 2px solid #ff3e00;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loader-mini 1s linear infinite;
}

.loader-mini::after {
  width: calc(16px - 2px);
  height: calc(16px - 2px);
  border: 1px solid transparent;
  border-top-color: #ff3e00;
  border-radius: 50%;
  animation: loader-mini 0.8s linear reverse infinite;
}

@keyframes loader-mini {
  100% {
    transform: rotate(1turn);
  }
}




.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
.loader {
    width: 56px;
    height: 56px;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
  }

  .loader::before,
  .loader::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    animation: 0.8s spin linear infinite;
  }

  .loader::before {
    transform: rotateX(70deg);
  }

  .loader::after {
    transform: rotateY(70deg);
    animation-delay: 0.4s;
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: 5px 0px 0 0px #f9831f;
    }
    12% {
      box-shadow: 5px 5px 0 0 #f9831f;
    }
    25% {
      box-shadow: 0 5px 0 0px #f9831f;
    }
    37% {
      box-shadow: -5px 5px 0 0 #f9831f;
    }
    50% {
      box-shadow: -5px 0 0 0 #f9831f;
    }
    62% {
      box-shadow: -5px -5px 0 0 #f9831f;
    }
    75% {
      box-shadow: 0px -5px 0 0 #f9831f;
    }
    87% {
      box-shadow: 5px -5px 0 0 #f9831f;
    }
  }

